<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
 <form method="post" action="/editstudent_data/{{ datas.pk }}" >
    {% csrf_token %}

    <label class="im">Student name</label><br>
    <input class="cm" type="text" name="student_name" value="{{datas.student_name}}"><br>
    <label class="im">email</label><br>
    <input  class="cm" type="=text" name="email" value="{{datas.email}}"><br>
    
    <label  class="im">QULIFICATION</label><br>
    <input name="qulification"  value="{{datas.qulification}}"><br>
    <label  class="im">QULIFICATION</label><br>
    <input name="qulification"  value="{{datas.qulification}}"><br>
    <label  class="im">Age</label><br>
    <input class="cm" type="text" name="Age"  value="{{datas.age}}"><br>
    <label  class="im">Phone Number</label><br>
    <input class="cm" type="text" name="Phone_Number"  value="{{datas.phone_number}}"><br>

    <label  class="im">Address </label><br>
    <input class="address" name="Address" value="{{datas.address}}"><br>
    <label  class="im">Address </label><br>
    <input class="address" name="Address" value="{{datas.address}}"><br>

    <button type="submit">update</button>
  
  

  
 </form>

</div>
    
</body>
</html>