<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show students datas</title>
</head>
<body>
    <h1>Students data Tables</h1>
 {% for message in messages %}
 <div class="alert alert-success">
    <strong>Success!</strong>{{message}}
  </div>
      

        
    {% endfor %}
    


<table border="2px">
    <thead>
        <tr>
            <th>Student ID</th>
            <th>Student Name</th>
            <th>email</th>
            <th>Gender</th>
            <th>Qulification</th>
            <th>Age</th>
            <th>Phone Number</th>
            <th>Date of Joining</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
        
    </thead>

    <tbody>
        {%  for student in datas %}
        <tr>
            <td>{{student.id}}</td>
            <td><a href="detailview/{{student.id}}">{{student.student_name}}</a></td>
            <td>{{student.email}}</td>
            <td>{{student.gender}}</td>
            <td>{{student.qulification}}</td>
            <td>{{student.age}}</td>
            <td>{{student.phone_number}}</td>
            <td>{{student.date}}</td>
            <td>{{student.address}}</td>
            <td><a href="{% url 'editpage' student.id  %}">edit</a><br>
                <a href="{% url 'delete_product' student.id %}">delete</a>
            
            </td>
        </tr>
        {% endfor %}

 
        

    </tbody>

    
 


</table>

</body>
</html>