<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STUDENTS OFFICIAL PAGE</title>
    
</head>
<body><center>
    <div class="pm">
        <form class="fm" method="post" action="add_students_data">
           {% csrf_token %}
        
            <h1>REGISTRATION FORM</h1>
         
            <label class="im" style="font-size:18px;">Student name</label><br>
            <input class="cm" type="text" name="student_name" ><br>
            <label class="im" style="font-size:18px;">email</label><br>
            <input  class="cm" type="=text" name="email"><br>
            <label  class="im" style="font-size:18px;" >Gender</label><br>
            <label class="radio button"> <input type="radio" name="gender" value="Male">Male</label>
            
            <label class="radio button"> <input type="radio" name="gender" value="Female">Female</label>

            <label class="radio button"> <input type="radio" name="gender" value="Others">Others</label><BR>

            <label  class="im" style="font-size:18px;">Qualification</label><br>
            <select  class="om" class="option" name="qulification" >
                <option disabled="disabled" selected="selected">choose option....</option>
                <option name="qulification" value="plus two">plus two</option>
                <option name="qulification" value="diploma">Diploma</option>
                <option name="qulification" value="degree">Degree</option>
                <option name="qulification" value="pg">Pg</option>


            </select><br>
            <label  class="im" style="font-size:18px;">Age</label><br>
            <input class="cm" type="text" name="Age"><br>
            <label  class="im" style="font-size:18px;">Phone Number</label><br>
            <input class="cm" type="text" name="Phone_Number"><br>
            <label  class="im" style="font-size:18px;">Date of joining </label><br>
            <input class="cm" type="date" name="Date"><br>
            <label  class="im" style="font-size:18px;">Address </label><br>
            <textarea class="address" rows="3" cols="15" name="Address"></textarea><br>

            <button type="submit">Register</button>
          
          

          
        </form>

    </div>

        

      
</center>


</body>
</html>